.err {
    color: red;
}

.am-tab-bar{
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
}

.fixed-header.am-navbar{
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
}
.page-content{
	padding:45px 5px;
}

.content-wrapper{
	padding: 45px 0 50px;
}

.loading {
	position: fixed;
	z-index: 50;
	width: 100%;
	top: 45px;
	bottom: 50px;
	background: #fff url(../imgs/loading.gif) center center no-repeat;
	background-size: 30px 30px;
}

.stick-footer {
	position: fixed;
	width: 100%;

	bottom: 0;
	z-index: 100;
}

.chat-page .chat-me .am-list-content{
	text-align: right;
}

.chat-page .am-grid-icon {
	display: none;
	margin: 0;
}

.chat-page .am-grid-text {
	margin-top: 0;
}

.chat-page {
	padding-bottom: 44px;
}